{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}
  {% if show_verified_lock_banner %}
    <ul class="messagelist">
      <li class="warning">
        {% trans "This tournament has been verified by a superadmin. To edit it, ask a superadmin to use the “Return for editing” action." %}
      </li>
    </ul>
  {% endif %}
  {% if request.user.is_authenticated %}
    <span id="tnmt-user-tz"
          data-user-tz="{{ request.user.timezone|default:'UTC' }}"
          data-is-add="{% if add %}1{% else %}0{% endif %}"
          style="display:none"></span>
  {% endif %}
  {{ block.super }}
{% endblock %}
