{% extends "admin/submit_line.html" %}
{% load i18n admin_urls %}

{% comment %}
Re-render the whole submit row so we can drop a `Save and add same`
button in the middle of the standard sequence. Order matches Django
defaults with our extras inserted in the right spots.
{% endcomment %}
{% block submit-row %}
{% if show_save %}<input type="submit" value="{% translate 'Save' %}" class="default" name="_save">{% endif %}
{% if show_save_as_new %}<input type="submit" value="{% translate 'Save as new' %}" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="{% translate 'Save and add another' %}" name="_addanother">{% endif %}
{% comment %}Custom button: clone the current tournament and open the clone for editing. Visible on both /add/ and /change/.{% endcomment %}
<input type="submit" value="{% translate 'Save and add same' %}" name="_addsame">
{% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">{% endif %}
{% if show_close %}
    {% url opts|admin_urlname:'changelist' as changelist_url %}
    <a href="{% add_preserved_filters changelist_url %}" class="closelink">{% translate 'Close' %}</a>
{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}" class="deletelink">{% translate "Delete" %}</a>
{% endif %}
{% if show_unverify_button %}
    <p class="deletelink-box" style="float:left;margin-right:10px;">
      <button type="submit" name="_unverify" class="button">
        {% translate "Return for editing" %}
      </button>
    </p>
{% endif %}
{% endblock %}
